- title "Facility"

%p
  %strong Name:
  = @facility.name

%p
  = link_to "Edit", edit_facility_path(@facility)
  |
  = link_to "Destroy", @facility, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", facilities_path
